# Distribution and Packaging
*.so
*.pyc
src/*.pyc
# *.py
*.DS_Store
Output/
build/
dist/
*.coverage
*.egg-info/
src/GIT_INFO

# Sphinx documentation
docs/_build
docs/_static
docs/_templates

# Data files
hera_cal/data/test_output/*
data/

# Test notebooks
hera_cal/notebooks
*.ipynb_checkpoints*
